.__tmp.log
build
testing.log
/tmp*
*.o
*_moc.cpp
*.so
*.dll
*.dylib
*.a
*~
*.swp
*.pyc
*.qrc
icons.cpp
/config.*
/configure.log
/build.log
/lib/version.cpp
/src/project_version.h
/bin/
/dev/
.cproject
.project
.settings
.pydevproject
*.config
*.creator
*.creator.user
*.files
*.includes
debug
assert
release
